.card {
    border: none;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .card-price {
    color: #ff007f;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .btn-custom {
    background-color: #ff007f;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
  }

  .btn-custom:hover {
    background-color: #ff3399;
    color: #fff;
  }
  a:hover{
    color: black;
  }